<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <app-cocktail-search [labelText]="'Search by Name'" (search)="getCocktailsByName($event)">
            </app-cocktail-search>
        </div>
        <div class="col-md-6 col-sm-12">
            <app-cocktail-search [labelText]="'Search by Ingredient'" (search)="getCocktailsByIngredient($event)">
            </app-cocktail-search>

        </div>
    </div>

    <app-cocktail-list [searchResults$]="searchResults$"></app-cocktail-list>

</div>